
body{
    font-size : 1.6rem;   
}

h1{
     font-size: 3.8rem;
    margin: 0;
}


h3{
     font-size: 1.6rem;
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER----------------------------------------*/
/*-----------------------------------------------------------------------------------*/

header h1{
    color: white;
    text-align: center;
}

header ul li
{
    display: inline-block;
}

header .logo
{
    width: 150px;
}

header #banniere
{
    background: url("../../images/img.jpg") no-repeat center fixed;
}

.topnav {
  overflow: hidden;
}

.topnav ul{
  padding: 0;
}

.topnav li {
    float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.topnav li a {
    color: white;
  text-decoration: none;
  font-size: 17px;
}

.topnav li {
    background-color: black;
    text-transform: uppercase;
    text-align: center;
}

.topnav li:first-of-type {
    background-color: inherit;
}

.topnav li:hover {
  background-color: #ddd;
}

.topnav li:hover a{
  color: black!important;
}

li.active:hover  {
 background-color: inherit;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 991px) {
  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 991px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
     }
    .topnav.responsive li {
        float: none;
        display: block;
        text-align: center;
     }
}
@media (min-width: 992px) {
    .topnav li {
        background-color: inherit;
    }
    
    .topnav .search:hover {
      background-color: inherit;
    }
    
    .topnav .search {
    background-color: inherit;
}
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------MAIN------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
main.row{
    width: 90%;
    margin: auto;
}

main h2{    
    font-size : 2rem;   
    border-bottom: 8px solid #EEE5D6;
    padding-bottom: 0.1em;
}

/*-----------------NAV--------------------*/
nav.presentation ul {
   margin: 2% 0 0 0;
}

nav.presentation ul li {
    display: inline;
    width: 25%;
    text-align: center;
}

nav.presentation ul li img {
    display: none;
    width: 100%;
    max-width: 220px;
}

@media (min-width: 992px) {
    nav.presentation ul li img {
        display: inline;   
    }
}

/*-----------------SECTION ACTUALITES--------------------*/

section.actualites 
{
    position: relative;
}

section.actualites article img
{
    border-right: 20px solid #EEE5D6;
    border-left: 20px solid #EEE5D6;
    border-top: 10px solid #EEE5D6;
    border-bottom: 10px solid #EEE5D6;
}

section.actualites article
{
    padding: 0;
}

section.actualites article img
{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    overflow:hidden;
}


section.actualites article h3
{
    border: 1px solid black;
    text-align: center;
    padding: 3%;
}

section.actualites article h3 a:hover
{
    color: black!important;
    text-decoration: none;
}

section.actualites .knowMore 
{
    position: absolute;
    top : 1.8em;
    left: 0em;
}

section.actualites .knowMore p
{
    background-color: darkorange;
    color: white;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 5px;
}

@media (min-width: 992px) {
    section.actualites article img
    {
        width: 100%;
        height: 200px;
        margin-top: 10px;
    }
}

/*-----------------SECTION PARTENAIRES--------------------*/
.partenaires nav ul li {
    list-style-type: none;
}

.partenaires nav ul li img {
    overflow:hidden;
    width: 100%;
    max-width: 200px;
    margin-bottom: 10%;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}

/*-----------------SECTION S ADRESSER A NOUS NEWSLETTER--------------------*/

.adresser_nous ul li {
    list-style-type: none;    
}

.adresser_nous a, .adresser_nous a:hover, .newsletter a, .newsletter a:hover {
    color: black!important;
    display: inline-block;
    text-decoration: none;
    background-color: #EEE5D6;
    padding: 1% 2%;
    margin-bottom: 2%;
}
/*-----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER----------------------------------------*/
/*-----------------------------------------------------------------------------------*/

footer{
    background-color: #9294C9;
    color: white;
    text-align: center;
}
footer section{
    margin : 2% 0;
}

footer section li{
    list-style-type: none;
}

footer section a{
    color: white;
    text-decoration: none;
}

footer section a:hover {
    color: white!important;
    text-decoration: none;
}

footer section:nth-of-type(2) h3{
    text-transform: inherit;
}

footer section:nth-of-type(2) {
    border-top: 2px solid black;   
}

footer section:nth-of-type(2) ul li{
    display: inline-block;
}

footer section:nth-of-type(2) ul li img{
    overflow:hidden;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}


@media (min-width: 992px) {
    footer section{
        height : 100px;
    }
    
    footer section:nth-of-type(1) ul li:nth-of-type(1) {
        border-right: 2px solid black;  
    }
    
     footer section:nth-of-type(1) a {
        margin-top : 2%;
    }
    
    footer section:nth-of-type(2) {
        border-left: 2px solid black;  
        border-top: none;
    }
    
    footer section:nth-of-type(2) h3{
        margin-top:0;
    }

}